<h1>New Account</h1>

<%= link_to "Connect Instagram", instagram_connect_path %><br />
<%= link_to "Connect Facebook", facebook_connect_path %>

<%= render 'form' %>

<%= link_to 'Back', accounts_path %>
